.catalog-page {
  background-color: transparent;
  overflow: hidden;
  padding: 40px;
  height: auto;
  width: auto;
}

.background-image {
  background-image: url(https://www.zdnet.com/a/img/resize/1f800d459b30d2a57142a6afff3b84150c2c5562/2022/04/29/7bfb96c0-773e-4caa-8018-b97bd1856e61/best-all-in-one-computer.jpg?auto=webp&fit=crop&height=900&width=1200);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.no-ads {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 140px;
}
