.home-container {
  background-color: transparent;
  overflow: hidden;
  height: 100vh;
  width: auto;
  background-image: url("/public/images/Home.jpg");
}

.info {
  position: absolute;
  top: 30%;
  left: 100px;
  color: orange;
  padding-right: 40%;
}

.info h3 {
  margin-top: 50px;
  color: rgb(245, 244, 245);
}
