.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.link-item {
  text-decoration: none;
  font-size: 20px;
  margin-right: 30px;
  color: orange;
}

.link-item:hover {
  color: lightskyblue;
}

.nav-name {
  margin-right: 900px;
  font-size: 25px;
  text-decoration: none;
  color: orange;
  position: relative;
  right: 200px;
}

.nav-name:hover {
  color: lightskyblue;
}
