.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 1)
    ),
    url(https://wallpaperaccess.com/full/1325090.jpg);
}

.login-box {
  position: relative;
  width: 30%;
  padding: 3rem;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding-bottom: 60px;
}

h2 {
  text-align: center;
  color: lightcoral;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
}

button {
  padding: 0.5rem;
  background-color: lightcoral;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: lightblue;
}

.registerLink {
  position: absolute;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  left: 73%;
  top: 88%;
}

.registerLink:hover {
  color: lightcoral;
}

h6 {
  position: absolute;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  left: 9%;
  top: 88%;
}
